:root {
  --font-family: "Muli", sans-serif;
  --light: #7c8186;
  --primary: #282b2f;
  --text: #333;
  --hint: #8c3ad4;
  --border: #ddd;
  --text-white: white;
  --title-color: #cc9bf5;
  --h4-color: #d9b8f5; }
